@import "../../../global.scss";
$max-width: 300px;
$dropShadowColor : $primary-light;

.movie-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: flex-end;
  filter: drop-shadow(0 0 0 $dropShadowColor);
  font-family: "Exo 2", sans-serif;
  border-radius: 1rem;
  overflow: hidden;
  width: $max-width;
  height: 28rem;
  transition: filter 300ms ease-in-out;
&:hover{
  filter: drop-shadow(0 0 1rem $dropShadowColor);
  .bottom-gradient{
    transform: translateY(0) ;
  }
}
}
.moviecard-title {
  font-size: 2rem;
  font-weight: 900;
  z-index: 1;
  text-align: left;
  color: $light;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-transform: uppercase;
  
}

.moviecard-moreinfos {
    color: $light-050;
    text-transform: uppercase;
    font-size: 0.75rem;
    text-decoration: none;
}
.movie-genres-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    z-index: 1;
}

.bottom-gradient {
  display: flex;
  flex-direction: column;
  background: linear-gradient(transparent, black);
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  height: auto;
  gap: 0.5rem;
  transition: all 300ms ease-in-out;
  transform: translateY(33px);
 
}

#img-container {
  width: $max-width;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

img {
  width: 100%;
  object-fit: cover;
}
